<div class="row ">
  <div class="col-md-6">
    <div class="text-field">
      <%= sof.label "Service Order Summary "%>
      <%= sof.text_field :so_summary, class:  "form-control" %> 
    </div>
    <div class="text-field">
      <%= sof.label "Further Details" %>
      <%= sof.text_area :description , class:  "form-control"%> 
    </div>          
    <div class="text-field">
      <%= sof.label "Appointment Start" %>
      <%= sof.text_field :service_start , class:  "form-control start-datetime datepicker"%> 
    </div>
    <div class="text-field">
      <%= sof.label "Appointment End" %>
      <%= sof.text_field :service_end , class:  "form-control end-datetime datepicker"%> 
    </div>  
    <div class="text-field">
      <%= sof.label "Perf Duration" %>
      <%= sof.text_field :total_performance_duration,  class:  "form-control perf_duration" %>
    </div>
    <div class="text-field">
      <%= sof.label "Artist Fee" %>
      <%= sof.text_field :new_artist_fee_cents,  class:  "form-control" %>
    </div>
  </div>

  <div class="col-md-6 chk-box-list">
    <div class="row mb10 text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        Reminder Required
      </div>
      <div class="col-md-4">
        Confirmation
      </div>
    </div>       
    <div class="row">
      <div class="col-md-4">
        <%= sof.label 'Travel' %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :travel_req %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :travel_conf %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= sof.label 'Accommodation' %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :accommodation_req %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :accommodation_conf %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= sof.label 'Ground Transfers' %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :ground_transfers_req %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :ground_transfers_conf %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= sof.label 'Meals' %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :meals_req %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :meals_conf %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <%= sof.label 'Artist Equipment' %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :artist_equipment_req %>
      </div>
      <div class="col-md-4">
        <%= sof.check_box :artist_equipment_conf %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(function() {
  $('.datepicker').datetimepicker({
      format: "YYYY-MM-DD LT",
      sideBySide: true
    });
  addProfileOrderCallbacks(); 

  
      
});
</script>



      
      