<!-- <div class="search_sect1 bg_pink1"> 
  <div class="search_container container ">
      <%#= form_tag admin_artist_profiles_path, :method => 'get', :id => "products_search" do %>
        <%#= hidden_field_tag :type, "search" %>
        <div class="col-md-1"></div>
        <div class="col-md-11 no-padding">
          <div class="col-md-2 col-sm-2 search-text key">
              <%#= text_field_tag :keywords, '', class: "form-control", placeholder: "Keywords:"%>
            </div>
            <div class="col-md-2 col-sm-2 search-text">
              <%#= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name), :prompt => "Select Category" , class: "form-control" %>
            </div>
            <div class="col-md-2 col-sm-2 search-text">
              <%#= select_tag :approved, options_for_select(ArtistProfile::STATUS.map { |obj| [obj['key'], obj['value']] }), :prompt => "Select Status", class: "form-control" %>
            </div>
            
            <div class="col-md-2 col-sm-2 search-text">
              <%##= select_tag :price, options_for_select(ArtistProfile::PRICING), :prompt => "Select Budget", class: "form-control" %>
            </div>
            <div class="col-md-2 col-sm-2 search-text key">
              <%#= submit_tag "Search", :name => nil, class: "btn-search" %>

            </div>
        </div> -->
        <!-- <div class="col-md-1"></div> -->
      <%# end %>
  <!-- </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Profiles</h1>
    </div>
    <div class="col-md-4 text-right">
      <h1><%= link_to 'New Profile', new_admin_artist_profile_path, 'data-no-turbolink' => true,  :class => "btn btn-default align-center"  %></h1>
    </div>
  </div>
  <div class="table-responsive table-first">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Country</th>
          <th>Category</th>
          <th>Approve</th>
          <th> Show </th>
          <th> Edit </th>
          <th> Delete </th>
        </tr>
      </thead>

      <tbody>
        <% @artist_profiles.each do |profile_order| %>
          <tr>
            <td><%= profile_order.title %></td>
            <td><%= profile_order.location2 %></td>
            <td><%= profile_order.try(:country) %></td>
            <td><%= profile_order.category.name if profile_order.category.present? %></td>
            <td>
              <div class="onoffswitch ">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch<%=profile_order.id%>"  <%= profile_order.approved ? "checked" : "" %> data-id="<%= profile_order.id %>">
                <label class="onoffswitch-label" for="myonoffswitch<%=profile_order.id%>">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </td>
            <td><%= link_to 'Show', admin_artist_profile_artist_profile_details_path(profile_order.id), :class => 'btn btn-sm btn-info' %></td>
            <td><%= link_to 'Edit', edit_admin_artist_profile_path(profile_order.slug), :class => 'btn btn-sm btn-info' %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-trash "></span>'.html_safe, [:admin, profile_order], remote: true, :method => :delete, data: {confirm: "Delete Profile: #{profile_order.title}"}, :class => 'btn btn-sm btn-danger' %></td>
       </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="pull-right">
    <%= will_paginate @profile_orders, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<br>

<script type="text/javascript">
  $('.onoffswitch-checkbox').click(function() {
    var id = $(this).data("id");
    $.ajax({
      type: 'GET', 
      url: '/admin/update_profile/' + ($(this).data("id")) + '/' + $("#myonoffswitch"+id).is(':checked')
    });
    return true;
  });
</script>

