<p id="notice"><%= notice %></p>

<p>
  <strong>Objecttitle:</strong>
  <%= @listing.objectTitle %>
</p>

<p>
  <strong>Objectlocation1:</strong>
  <%= @listing.objectLocation1 %>
</p>

<p>
  <strong>Objectlocation2:</strong>
  <%= @listing.objectLocation2 %>
</p>

<p>
  <strong>Objectcountry:</strong>
  <%= @listing.objectCountry %>
</p>

<p>
  <strong>Objectprimarycategoryid:</strong>
  <%= @listing.objectPrimaryCategoryID %>
</p>

<p>
  <strong>Objectrootcategoryid:</strong>
  <%= @listing.objectRootCategoryId %>
</p>

<p>
  <strong>Objectdescription1:</strong>
  <%= @listing.objectDescription1 %>
</p>

<p>
  <strong>Objectdescription2:</strong>
  <%= @listing.objectDescription2 %>
</p>

<p>
  <strong>Objectkeywords:</strong>
  <%= @listing.objectKeywords %>
</p>

<p>
  <strong>Objectpricing:</strong>
  <%= @listing.objectPricing %>
</p>

<p>
  <strong>Objectenabled:</strong>
  <%= @listing.objectEnabled %>
</p>

<p>
  <strong>Datelevelexpires:</strong>
  <%= @listing.dateLevelExpires %>
</p>

<p>
  <strong>Objecttypeid:</strong>
  <%= @listing.objectTypeID %>
</p>

<p>
  <strong>Objectstatus:</strong>
  <%= @listing.objectStatus %>
</p>

<p>
  <strong>Objectapproved:</strong>
  <%= @listing.objectApproved %>
</p>

<p>
  <strong>Objectapproved:</strong>
  <%= @listing.objectApproved %>
</p>

<p>
  <strong>Cotact:</strong>
  <%= @listing.cotact_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
