<header>
	<!-- TOP MENU -->
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<ul class="top-menu">
						
						<% if contact_signed_in? %>
							<li><a href="#"><%= current_contact.salutation %> <%= current_contact.first_name %></a></li>
							<li><%= link_to 'Home', root_path %></li>
						  <li>
						  <%= link_to 'Logout', destroy_contact_session_path %>        
						  </li>
						<% else %>
							<li><%= link_to 'Home', root_path %></li>
							<li>
						  <%= link_to 'Login', new_contact_session_path %>  
						  </li>
						<% end %>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4"> </div>
			</div>
		</div>
	</div>
	
	<!-- MENU -->
	<div class="menu-block">
		<div class="container">
			<div class="row">
				<div class="header_menu_block">
					<div class="col-md-3 logo-display"><a href="/"> <%= image_tag("logo.jpg", :alt => "Theme Logo", class: "img-responsive logo") %></a></div>
					<div class="col-md-9">
						<nav class="navbar-default main_menu navigation-deafault header_menu" role="navigation">
							<div class="navbar-header res-nav-header toggle-respon">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
							</div>
							<div class="collapse navbar-collapse nav_coll main-menu-ul no-padding">
								<ul>

									<% paramCntr = params['controller'] %>
									<% cntr_names = ["categories","home"] %>
									<% paramAction = params[:action] %>
									<% if current_contact.present? and !cntr_names.include? paramCntr and paramAction != "artist_profile_details" %>
										<% if current_contact.role.present? and current_contact.role.name == "customer" %>		
											<li class="current-menu-item"><%= link_to "Account Details", edit_contact_registration_path %></li>	
											<li class="current-menu-item"><%= link_to "Orders", bookings_path %></li>
											<li class="current-menu-item"><%= link_to "Enquiries", inquiries_path %></li>
											<li class="current-menu-item"><%= link_to "Billing", billings_path %></li>
											<li class=""><%= link_to 'Communications', :conversations %></li>							
										<% elsif (current_contact.role.name == "artist" or current_contact.role.name == "service")  %>
											<li class="current-menu-item"><a href="/dashboards">Dashboards</a></li>
											<li class="current-menu-item"><%= link_to "My Account", edit_contact_registration_path %></li>
											<li class=""><%= link_to "Profiles", artist_profiles_path, 'data-no-turbolink' => true %></li>
											<li class=""><%= link_to "Service Orders", artist_service_orders_path, 'data-no-turbolink' => true %></li>
											<li class=""><%= link_to "Enquiries", inquiries_path, 'data-no-turbolink' => true %></li> 
											<li class="current-menu-item"><%= link_to "Billing", billings_path %></li>
											<li class=""><a href="/calenders">Calenders</a></li>
											<li class=""><%= link_to 'Communications', :conversations %></li>
											<li class=""><a href="/reviews">Reviews</a></li>
											<li class=""><a href="/dashboards/portal">Portal</a></li>
										<% elsif current_contact.role.name == "both"  %>
											<li class="current-menu-item"><a href="/dashboards">Dashboards</a></li>
											<li class="current-menu-item"><%= link_to "My Account", edit_contact_registration_path %></li>
											<li class=""><%= link_to "Profiles", artist_profiles_path, 'data-no-turbolink' => true %></li>
											<li class="" --><%= link_to "Service Orders", artist_service_orders_path, 'data-no-turbolink' => true %></li>
											<li class=""><%= link_to "Enquiries", inquiries_path, 'data-no-turbolink' => true %></li> 
											<li class="current-menu-item"><%= link_to "Orders", bookings_path %></li>
											<li class="current-menu-item"><%= link_to "Billing", billings_path %></li>
											<li class=""><a href="/calenders">Calenders</a></li>
											<li class=""><%= link_to 'Communications', :conversations %></li>
											<li class=""><a href="/reviews">Reviews</a></li>
											<li class=""><a href="/dashboards/portal">Portal</a></li>
										<% else %>
											<% @categories_header = Category.where("ancestry is null") %>
											<% if @categories_header.present? %> 
												<% @categories_header.each do |cat| %>
												  <li id="<%= cat.name %>"><%=  link_to cat.name, category_path(cat.id) %></li> 
												<% end %>
												<li id=""><a href="#">Events</a></li>
											<% end %> 
										<% end %>
									<% else %>
										<% @categories_header = Category.where("ancestry is null") %>
										<% if @categories_header.present? %> 
											<% @categories_header.each do |cat| %>
											  <li id="<%= cat.name %>"><%=  link_to cat.name, category_path(cat.id) %></li> 
											<% end %>
											<li id=""><a href="#">Events</a></li>
										<% end %> 
									<% end %>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</header>

<!-- BANNER -->
<div class="banner common-header"> 
	<% if @banner.present? %>
		<%= image_tag(@banner.banner.url, :alt => "First slide", style: "width:100%") %>
	<% else %>
		<%= image_tag("banner.jpg", :alt => "First slide", style: "width:100%") %>
	<% end %>
	<div class="container">
		<div class="text-block">
			<div class="banner-text"> <%#= @package %> </div>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function () {
    $("li").click(function () {
        var id = $(this).attr("id");
        $('#' + id).siblings().find(".active1").removeClass("active1");
        $('#' + id).addClass("active1");
        localStorage.setItem("selectedolditem", id);
    });
    var selectedolditem = localStorage.getItem('selectedolditem');
    if (selectedolditem != null) {
        $('#' + selectedolditem).siblings().find(".active1").removeClass("active1");
        $('#' + selectedolditem).addClass("active1");
    }
});

</script>
