

<div class="row">
  <div class="col-md-8">
    <h1>Listing About Us</h1>
  </div>
  <div class="col-md-4 text-right">
    <h1><%= link_to "New", new_admin_about_path, class: "btn btn-primary" %></h1>
  </div>
</div>

<table id="aboutus" class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Context</th>
      <th>Image</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aboutus.each do |aboutus| %>
      <tr>
        <td class="aboutus_first"><%= raw(aboutus.context) %></td>
        <td><%= image_tag aboutus.about_us_image.url(:thumb) %></td>
        <td><%= image_tag aboutus.about_us_video.url %></td>
        <td><%= link_to 'Edit', edit_admin_about_path(aboutus) %></td>
        <td><%= link_to 'Destroy', admin_about_path(aboutus), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style type="text/css">
/*#aboutus td {
    width: 25%;
}*/
.aboutus_first {
    width: 40% !important;
}
</style>